<!DOCTYPE html>
<html>
<head>
	<title>Suppot Team</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/jquery-confirm.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script type="text/javascript" src="../../lib/js/jquery.js"></script>
	<script type="text/javascript" src="../../lib/js/jquery-confirm.js"></script>
	<script type="text/javascript" src="../../lib/js/jquery.mask.js"></script>
	<script type="text/javascript" src="../../lib/js/style.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<h6>Chamado: <strong>123456</strong></h6>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<h6>Status: <strong>Fechado</strong></h6>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<small><strong>Analista responsável:</strong></small>
			<h6>Amanda Barreto</h6>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<small><strong>Data de fechamento:</strong></small>
			<h6>12/12/2018</h6>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<small><strong>Solução:</strong></small>
			<h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h6>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<small>Caso tenha ocorrido algum erro na solução do chamado, entre em contato  com o suporte pelo e-mail <strong>contato@suppotteam.com.br</strong></small>
		</div>
	</div>
</body>
</html>