<!DOCTYPE html>
<html>
<head>
	<title>Suppot Team</title>
	<link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
	<script type="text/javascript" src="../../lib/js/jquery.js"></script>
	<script type="text/javascript" src="../../lib/js/style.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<div class="presentationGirl">
				<div class="row">
					<div class="col-md-12">
						<div class="topNav">
							<button type="button" class="btn btn-primary right mt-15 mr-15" id="login">Entrar</button>
							<a href="#" class="linkMenu right">Sistema</a>
							<a href="#" class="linkMenu right">FAQ</a>
						</div>
					</div>
				</div>
				<br><br><br><br>
				<div class="row">
					<div class="col-md-6">
						<div class="titlePresentation">
							Suppot Team
						</div>
						<div class="subtitlePresentation">
							Sistema de Help Desk
						</div>
						<div class="textPresentation">
							O sistema Support Team tem como objetivo fornecer maior comodidadee confiabilidade para as empresas que procuram dar suporte de seus produtos para seus clientes, mantendo a facilidade e acessibilidade para todos os públicos.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="faq">
				<div class="row">
					<div class="col-md-12">
						<div class="titleFaq mt-15">
							FAQ
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="question mt-15">
							1. Como contratar o software?
						</div>
						<div class="answer">
							Basta ter a infraestrutura adequada para que o sistema seja instalado e entrar em contato com nossos gerentes através do e-mail <strong>querocontratar@supportteam.com.br</strong>
						</div>
					</div>
					<div class="col-md-6">
						<div class="question mt-15">
							2. Como faço para acessar o sistema?
						</div>
						<div class="answer">
							Para acessar o sistema é necessário ter um login e senha que terá acesso ao histórico de chamados e também pode abrir um novo, porém, para apenas consultar um chamado não é preciso, basta apenas colocar o número do mesmo.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="system">
				<div class="row">
					<div class="col-md-12">
						<div class="titleSystem mt-15">
							Sistema
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="credits">
				Todos os direitos reservados. Created by Amanda Barreto
			</div>
		</div>
	</div>
</body>
</html>