<!DOCTYPE html>
<html>
<head>
	<title>Suppot Team</title>
	<link rel="stylesheet" type="text/css" href="../../lib/css/presentationScreen.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap-grid.min.css">
	<!-- <link rel="icon" type="image" href="animated_favicon1.gif" /> -->
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<div class="presentationGirl">
				<div class="topNav">
					<a href="#" class="linkMenu">FAQ</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>